##--------------------------------
# general options

instruments: H1L1V1
min-instruments: 1

tag: sgnl_test

##--------------------------------
# dcc options

dcc:
  document_number: T2200343
  version: v3

##--------------------------------
# data product options

paths:
  reference-psd: psd/H1L1V1-GSTLAL_REFERENCE_PSD-0-0.xml.gz
  template-bank: bank/H1L1V1-GSTLAL_BBH_TEMPLATE_BANK-0-0.xml.gz

##-----------------------------
# data source options

source:
  data-source: devshm
  channel-name:
    H1: GDS-CALIB_STRAIN_O3Replay
    L1: GDS-CALIB_STRAIN_O3Replay
    V1: Hrec_hoft_16384Hz_O3Replay
  state-channel-name:
    H1: GDS-CALIB_STATE_VECTOR
    L1: GDS-CALIB_STATE_VECTOR
    V1: DQ_ANALYSIS_STATE_VECTOR
  inj-channel-name:
    H1: GDS-CALIB_STRAIN_INJ1_O3Replay
    L1: GDS-CALIB_STRAIN_INJ1_O3Replay
    V1: Hrec_hoft_16384Hz_INJ1_O3Replay
  state-vector-on-bits:
    H1: 483
    L1: 483
    V1: 1027
  shared-memory-dir:
    H1: /dev/shm/kafka/H1_O3ReplayMDC
    L1: /dev/shm/kafka/L1_O3ReplayMDC
    V1: /dev/shm/kafka/V1_O3ReplayMDC
  inj-shared-memory-dir:
    H1: /dev/shm/kafka/H1_O3ReplayMDC
    L1: /dev/shm/kafka/L1_O3ReplayMDC
    V1: /dev/shm/kafka/V1_O3ReplayMDC
  sample-rate: 16384 # FIXME in gstlal this is 4096??
  source-queue-timeout: 0.1

##--------------------------------
# psd options

psd:
  fft-length: 4
  # sample-rate: 4096 # FIXME is this used?

##--------------------------------
## svd bank options
# FIXME svd dag is not ready yet

svd:
  #   f-low: 15.0
  #   # num-chi-bins: 1
  #   approximant:
  #     - 0:1.73:TaylorF2
  #     - 1.73:1000:SEOBNRv4_ROM
  #   tolerance: 0.99999
  #   max-f-final: 1024.0
  #   num-split-templates: 500
  #   overlap: 50
  #   num-banks: 2
  #   samples-min: 2048
  #   samples-max-64: 2048
  #   samples-max-256: 2048
  #   samples-max: 4096
  #   autocorrelation-length: 351
  #     - 0:15:701
  #     - 15:1e6:351
  #   sort-by: mchirp
  option-file: svd_manifest.json

##--------------------------------
## filtering options

filter:
  # group-svd: False # FIXME we might want this for gpus
  coincidence-threshold: 0.005
  # ht-gate-threshold: 0.8:15.0-45.0:100.0
  ht-gate-threshold: 50
  snr-min: 4
  torch-dtype: float32
  torch-device: cpu
  event-config-file: fake_cbc.yaml
  likelihood-snapshot-interval: 14400
  injections:
    live:
      range: 0.01:1000.0

##--------------------------------
## prior options

prior:
  mass-model: mass_model/H1L1V1-GSTLAL_BBH_SALPETER_MASS_MODEL-0-0.h5

##--------------------------------
## ranking options

rank:
  ranking-stat-samples: 4194304
  marginalized-likelihood-file: rank_stat_pdf.xml.gz

##--------------------------------
## upload options

upload:
  gracedb-service-url:  # FIXME
  inj-gracedb-service-url:  # FIXME
  gracedb-far-threshold: -1
  gracedb-group: CBC
  gracedb-pipeline: SGNL
  gracedb-search: AllSky
  inj-gracedb-search: VTInjection
  far-trials-factor: 2
  aggregator-far-trials-factor: 6
  aggregator-far-threshold: 3.8e-7
  aggregator-cadence-type: geometric
  aggregator-cadence-factor: 2
  enable-injection-uploads: True

##--------------------------------
## pastro options

#pastro:
#  FGMC:
#    upload-file: gstlal.p_astro.json
#    mass-model: mass_model/fgmc_model_O4.h5

##--------------------------------
## service options

services:
  kafka-server: # FIXME

##--------------------------------
## metric collection options

metrics:
  scald-config: web/inspiral.yml

##--------------------------------
## condor options

condor:
  profile: # FIXME
  transfer_files: false
  accounting-group: # FIXME
  accounting-group-user: # FIXME
  #set path to singularity contaniner. eg. /home/divya.singh/observing/4/dev/builds/gstlal-dev_offline-inj-frames
  #container: /home/yun-jing.huang/phd/gstlal/build/gstlal-20241116/
  #requirements:
  #  - '(TARGET.Gstlal_Edward=?=True)'
  #directives:
  #  +Gstlal_Edward: true
  #directives:
  #  +Gstlal_Online: true
  environment:
  #  HDF5_USE_FILE_LOCKING: 'FALSE'
  #  # Note this x509 certificate is only for the gstlalcbc.online shared account at CIT
  #  X509_USER_CERT: /home/gstlalcbc.online/.cert/gstlalcbc_online_robot.key.pem
  #  X509_USER_KEY: /home/gstlalcbc.online/.cert/gstlalcbc_online_robot.key.pem
    INFLUX_USERNAME: # FIXME
    INFLUX_PASSWORD: # FIXME
  getenv: True
